<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registartion</title>
    <style>
        input
        {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <center>
        <h1>User Registration</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <br>    
                {{ufo.as_p}}
                {{pfo.as_p}}

            <br>
                <input type="submit" value="Register HERE" id="one">


        </form>
    </center>
</body>
</html>